# Archivos temporales y backups de KiCad
*-bak.kicad_pcb
*-bak.kicad_sch
*.bak
*.bck
*.tmp
_autosave-*
*.log

# Archivos de ruteo automático y netlists
*.net
*.ses
*.rules

# Carpetas de backup de KiCad
*-backups/

# Caché de footprints y configuración de usuario
fp-info-cache
*.kicad_prl
